html {
	color: yellow; 
	font-size: 18px;
}

h1 {
	color: blue;
	text-shadow: 2px 2px 2px black;
}

body {
	background-color: grey;
}

a:hover {
	color: red;
}

li {
	border: 2px solid black;
	margin: 10px 0;
}

li::selection {
	background-color: red;
	color: purple;
}

img {
	border: 2px solid blue;
}

footer {
	border: 3px dashed blue;
}