html {
	color: gold; 
	font-size: 18px;
}

h1 {
	font-size: 36px; 
	color: blue;
	text-shadow: 2px 2px 2px black;
}

h2 {
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	text-decoration: underline;
}

h3 {
	text-decoration: bold;
	text-decoration: underline;
	font-size: 45px;
}

body {
	display: grid;
	grid-gap: 1px;
	background-color: grey;
}

a:hover {
	color: red;
}

li {
	border: 2px solid blue;
	border-bottom: 2px solid blue;
	background-color: white;
}

ul li {
	background-color: gold;
	color: black;
}

header, footer {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 2px solid blue;
}

li::selection {
	background-color: red;
	color: purple;
}

img {
	border: 2px solid blue;
}

video {
	border: 2px solid blue;
}

figcaption {
	background-color: white;
	border: 2px solid blue;
	color: blue;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

footer {
	border: 3px dashed blue;
	background-color: white;
	color: black;
}


